/* 433_1 */
/* gk */
#player_1 {
position: absolute;
top: 0%;
left: 50%;
}

/* rcb */
#player_2 {
position: absolute;
top: 15%;
left: 37%;
}

/* lcb */
#player_3 {
position: absolute;
top: 15%;
left: 63%;
}

/* rb */
#player_4 {
position: absolute;
top: 15%;
left: 15%;
}

/* lb */
#player_5 {
position: absolute;
top: 15%;
left: 85%;
}

/* rcm */
#player_6 {
position: absolute;
top: 44%;
left: 37%;
}

/* lm */
#player_7 {
position: absolute;
top: 44%;
left: 85%;
}

/* lcm */
#player_8 {
position: absolute;
top: 44%;
left: 63%;
}

/* rm */
#player_9 {
position: absolute;
top: 44%;
left: 15%;
}

/* lfw */
#player_10 {
position: absolute;
top: 72%;
left: 63%;
}

/* rfw */
#player_11 {
position: absolute;
top: 72%;
left: 37%;
}
