<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'team_guess/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap" rel="stylesheet">

        {% block formation %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <h1 class="game_name">Football quiz</h1>
        {% block content %}{% endblock %}
    </body>
</html>